<body class="sticky-header ">
     <!--[if lte IE 9]>
     <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

     

     <div id="main-wrapper" class="main-wrapper">

          <!--=====================================-->
          <!--=        Header Area Start          =-->
          <!--=====================================-->
          <header class="">
               <div id="edu-sticky-placeholder"></div>
               <div class="header-mainmenu">
                    <div class="container-fluid">
                         <div class="header-navbar">
                              <div class="header-brand">
                                   <div class="logo">
                                        <a href="index.html">
                                             <img class="logo-light" src="assets/images/logo/logo-dark.png" alt="Corporate Logo">
                                             <img class="logo-dark" src="assets/images/logo/logo-white.png" alt="Corporate Logo">
                                        </a>
                                   </div>

                                   <div class="header-right">
                                        <ul class="header-action">
                                             <li class="search-bar">
                                                  <div class="input-group">
                                                       <input type="text" class="form-control" placeholder="Search">
                                                       <button class="search-btn" type="button"><i class="icon-2"></i></button>
                                                  </div>
                                             </li>
                                             <li class="icon search-icon">
                                                  <a href="javascript:void(0)" class="search-trigger">
                                                       <i class="icon-2"></i>
                                                  </a>
                                             </li>
                                             <li class="icon cart-icon">
                                                  <a href="cart.html" class="cart-icon">
                                                       <i class="icon-3"></i>
                                                       <span class="count">0</span>
                                                  </a>
                                             </li>
                                             <li class="header-btn">
                                                  <a href="contact-us.html" class="edu-btn btn-medium btn-gradient">Try for free <i class="icon-4"></i></a>
                                             </li>
                                             <li class="mobile-menu-bar d-block d-xl-none">
                                                  <button class="hamberger-button">
                                                       <i class="icon-54"></i>
                                                  </button>
                                             </li>
                                        </ul>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <!-- Start Search Popup  -->
                    <div class="edu-search-popup">
                         <div class="content-wrap">
                              <div class="site-logo">
                                   <img class="logo-light" src="assets/images/logo/logo-dark.png" alt="Corporate Logo">
                                   <img class="logo-dark" src="assets/images/logo/logo-white.png" alt="Corporate Logo">
                              </div>
                              <div class="close-button">
                                   <button class="close-trigger"><i class="icon-73"></i></button>
                              </div>
                              <div class="inner">
                                   <form class="search-form" action="#">
                                        <input type="text" class="edublink-search-popup-field" placeholder="Search Here...">
                                        <button class="submit-button"><i class="icon-2"></i></button>
                                   </form>
                              </div>
                         </div>
                    </div>
                    <!-- End Search Popup  -->
               </div>
          </header>
          <!--=====================================-->
          <!--=       Breadcrumb Area Start      =-->
          <!--=====================================-->


          <div class="edu-breadcrumb-area">
               <div class="container">
                    <div class="breadcrumb-inner">
                         <div class="page-title">
                              <h1 class="title">Course Style 2</h1>
                         </div>
                         <ul class="edu-breadcrumb">
                              <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
                              <li class="separator"><i class="icon-angle-right"></i></li>
                              <li class="breadcrumb-item"><a href="#">Courses</a></li>
                              <li class="separator"><i class="icon-angle-right"></i></li>
                              <li class="breadcrumb-item active" aria-current="page">Course Style 2</li>
                         </ul>
                    </div>
               </div>
               <ul class="shape-group">
                    <li class="shape-1">
                         <span></span>
                    </li>
                    <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
                    <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
                    <li class="shape-4">
                         <span></span>
                    </li>
                    <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
               </ul>
          </div>

          <div class="edu-course-area course-area-1 gap-tb-text">
               <div class="container">


                    <div class="edu-sorting-area">
                         <div class="sorting-left">
                              <h6 class="showing-text">We found <span>71</span> courses available for you</h6>
                         </div>
                         <div class="sorting-right">
                              <div class="layout-switcher">
                                   <label>Grid</label>
                                   <ul class="switcher-btn">
                                        <li><a href="course-one.html" class="active"><i class="icon-53"></i></a></li>
                                        <li><a href="course-four.html" class=""><i class="icon-54"></i></a></li>
                                   </ul>
                              </div>
                              <div class="edu-sorting">
                                   <div class="icon"><i class="icon-55"></i></div>
                                   <select class="edu-select">
                                        <option>Filters</option>
                                        <option>Low To High</option>
                                        <option>High Low To</option>
                                        <option>Last Viewed</option>
                                   </select>
                              </div>
                         </div>
                    </div>

                    <div class="row g-5">
                         <!-- Start Single Course  -->
                         <div class="col-12 col-xl-4 col-lg-6 col-md-6" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                              <div class="edu-course course-style-5 inline" data-tipped-options="inline: 'inline-tooltip-1'">
                                   <div class="inner">
                                        <div class="thumbnail">
                                             <a href="course-details.html">
                                                  <img src="assets/images/course/course-08.jpg" alt="Course Meta">
                                             </a>
                                        </div>
                                        <div class="content">
                                             <div class="course-price price-round">$30</div>
                                             <span class="course-level">Advanced</span>
                                             <h5 class="title">
                                                  <a href="course-details.html">The Complete Camtasia Course for Content Creators</a>
                                             </h5>
                                             <div class="course-rating">
                                                  <div class="rating">
                                                       <i class="icon-23"></i>
                                                       <i class="icon-23"></i>
                                                       <i class="icon-23"></i>
                                                       <i class="icon-23"></i>
                                                       <i class="icon-23"></i>
                                                  </div>
                                                  <span class="rating-count">(5)</span>
                                             </div>
                                             <p>Lorem ipsum dolor sit amet consectur elit sed eiusmod ex tempor.</p>
                                             <ul class="course-meta">
                                                  <li><i class="icon-24"></i>8 Lessons</li>
                                                  <li><i class="icon-25"></i>20 Students</li>
                                             </ul>
                                        </div>
                                   </div>
                              </div>

                              <div id="inline-tooltip-1" style="display:none">
                                   <div class="course-layout-five-tooltip-content">
                                        <div class="content">
                                             <span class="course-level">Advanced</span>
                                             <h5 class="title">
                                                  <a href="course-details.html">The Complete Camtasia Course for Content....</a>
                                             </h5>
                                             <div class="course-rating">
                                                  <div class="rating">
                                                       <i class="icon-23"></i>
                                                       <i class="icon-23"></i>
                                                       <i class="icon-23"></i>
                                                       <i class="icon-23"></i>
                                                       <i class="icon-23"></i>
                                                  </div>
                                                  <span class="rating-count">(5)</span>
                                             </div>
                                             <ul class="course-meta">
                                                  <li>8 Lessons</li>
                                                  <li>20 hrs</li>
                                                  <li>All Levels</li>
                                             </ul>
                                             <div class="course-feature">
                                                  <h6 class="title">What You’ll Learn?</h6>
                                                  <ul>
                                                       <li>Learn to use Python professionally, learning both Python 2 & Python 3!</li>
                                                       <li>Build 6 beautiful real-world projects for your portfolio (not boring toy </li>
                                                       <li>Understand the Theory behind Vue.js and use it in Real Projects</li>
                                                  </ul>
                                             </div>
                                             <div class="button-group">
                                                  <a href="#" class="edu-btn btn-medium">Add to Cart</a>
                                                  <a href="#" class="wishlist-btn btn-outline-dark"><i class="icon-22"></i></a>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <!-- End Single Course  -->
                         <!--=====================================-->
                         <!--=        Footer Area Start          =-->


                    </div>

                    <div class="rn-progress-parent">
                         <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
                              <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
                         </svg>
                    </div>


</body>