
@{
     Layout = "~/Views/Shared/_Layout_Blanck.cshtml";
     ViewBag.Title = "Wishlist";
}
<head>
     <style>
          /* Set the minimum height of the page to 100% */
          html, body {
               height: 100%;
               margin: 0;
               padding: 0;
          }

          /* Center the content vertically and horizontally */
          .page-container {
               height: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
          }

          /* Style the text */
          .text {
               text-align: center;
               font-size: 24px;
               /* Additional styles for the text */
               /* Adjust as needed */
          }
     </style>
</head>
<body>
     <div class="page-container">
          <div class="text">
               You will be redirected to the payment screen soon
          </div>
     </div>
</body>