
@{
    ViewBag.Title = "_Footer";
}


	<div class="footer__area footer-bg">

		<div class="footer__bottom">
			<div class="container">
				<div class="row">
					<div class="col-xxl-12">
						<div class="footer__copyright text-center">
							<p>© 2023 Lernify, All Rights Reserved. Design By <a href="@Url.Action("Index","Home")">Team Nr.3</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

