 <!--=====================================-->
<!--=        Header Area Start       	=-->
<!--=====================================-->
<header class="edu-header header-style-3">
     <div class="header-top-bar">
          <div class="container">
               <div class="header-top">
                    <div class="header-top-left">
                         <ul class="header-info">
                              <li><a href="tel:+011235641231"><i class="icon-phone"></i>Call: 123 4561 5523</a></li>
                              <li><a href="mailto:info@edublink.com" target="_blank"><i class="icon-envelope"></i>Email: info@edublink.com</a></li>
                         </ul>
                    </div>
                    <div class="header-top-right">
                         <ul class="header-info">
                              <li><a href="my-account.html">Login</a></li>
                              <li><a href="my-account.html">Register</a></li>

                         </ul>
                    </div>
               </div>
          </div>
     </div>
     <div id="edu-sticky-placeholder"></div>
     <div class="header-mainmenu">
          <div class="container">
               <div class="header-navbar">
                    <div class="header-brand">
                         <div class="logo">
                              <a href="@Url.Action("Index","Home")">
                                   <img class="logo-light" src="assets/images/logo/Lernify Logo-03.png" alt="Corporate Logo">
                                  
                              </a>
                         </div>
                    </div>
                    <div class="header-mainnav">
                         <nav class="mainmenu-nav">
                              <ul class="mainmenu">
                                   <li>
	                                   <a href="@Url.Action("Index","Home")">Home</a>
                                   </li>
                                   <li class="has-droupdown">
                                        <a href="#">Pages</a>
                                        <ul class="mega-menu">
                                             <li>
                                                  <h6 class="menu-title">Shit</h6>
                                                  <ul class="submenu mega-sub-menu-01">
                                                       <li><a href="team-two.html">Instructor</a></li>
                                                       <li><a href="faq.html">Faq's</a></li>
                                                       <li><a href="about-three.html">About Us</a></li>
                                                       <li><a href="coming-soon.html">Coming Soon</a></li>
                                                  </ul>
                                             </li>
                                             <li>
                                                  <h6 class="menu-title">Shop Pages</h6>
                                                  <ul class="submenu mega-sub-menu-01">
                                                       <li><a href="shop.html">Shop</a></li>
                                                       <li><a href="product-details.html">Product Details</a></li>
                                                       <li><a href="cart.html">Cart</a></li>
                                                       <li><a href="wishlist.html">Wishlist</a></li>
                                                       <li><a href="checkout.html">Checkout</a></li>
                                                  </ul>
                                             </li>
                                        </ul>
                                   </li>

                                   <li>
                                        <a href="@Url.Action("Index","Courses")">Courses</a>

                                   </li>

                                   <li>
                                        <a href="blog-masonry.html">Blog</a>
                                   </li>
                                   <li>
                                        <a href=@Url.Action("Index","Contact")>Contact</a>

                                   </li>`
                                   <li>
                                        <a href="event-list.html">Events</a>
                                   </li>
                              </ul>
                         </nav>
                    </div>
                    <div class="header-right">
                         <ul class="header-action">
                              <li class="icon search-icon">
                                   <a href="javascript:void(0)" class="search-trigger">
                                        <i class="icon-2"></i>
                                   </a>
                              </li>
                              <li class="icon cart-icon">
                                   <a href="cart.html" class="cart-icon">
                                        <i class="icon-3"></i>
                                        <span class="count">0</span>
                                   </a>
                              </li>
                              <li class="mobile-menu-bar d-block d-xl-none">
                                   <button class="hamberger-button">
                                        <i class="icon-54"></i>
                                   </button>
                              </li>
                         </ul>
                    </div>
               </div>
          </div>
     </div>

     <!-- Start Search Popup  -->
     <div class="edu-search-popup">
          <div class="content-wrap">
               <div class="site-logo">
                    <img class="logo-light" src="Content/assets/images/logo/logo-dark.png" alt="Corporate Logo">
                    
               </div>
               <div class="close-button">
                    <button class="close-trigger"><i class="icon-73"></i></button>
               </div>
               <div class="inner">
                    <form class="search-form" action="#">
                         <input type="text" class="edublink-search-popup-field" placeholder="Search Here...">
                         <button class="submit-button"><i class="icon-2"></i></button>
                    </form>
               </div>
          </div>
     </div>
     <!-- End Search Popup  -->
</header>